{% extends "layout.html" %}
{% block content %}

 <br>
  <div class="div.margem">
   <p>Download File</p>
    </div>
    <br>
    <div class="content-section">
    <p>Spreadsheets</p>

          <div class="col-md-12 text-center ">
                    <br>
                    <a href="/download" class="link_thumb" style="color: #848484;"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Download</button></a>
          </div>
            <br>
            </div>
            </div>
            </div>
            </div>
            <br>
            <br>

{% endblock content %}

