{% extends "layout.html" %}
{% block content %}
  
  <h1>Welcome {{name_user}}</h1>
<br>
<br>
 <!--==========================
      Portfolio Section
    ============================-->
   <h3>NCR_RAI</h3>
    <br>
      <li class="list-group-item list-group-item-light">
        <p>Upload Area <br><br><br> Upload File &nbsp &nbsp &nbsp &nbsp<a href="/fileform"><input type="Button" value="Upload" style="width: 80px; height: 30px; font-family: verdana; background-color: #BDBDBD"></a></p>
      </li>

    <li class="list-group-item list-group-item-light">
        <p>Donwload Area <br><br><br> Downoad File &nbsp &nbsp &nbsp &nbsp<a href="/upload"><input type="Button" value="Download" style="width: 80px; height: 30px; font-family: verdana; background-color: #BDBDBD"></a></p>
    </li>


      <br>
      <br>
      <p>Customer area in Development</p>
    <br>
    <br>


{% endblock content %}

<!--


  -->